@page "/schedule"
@using Radzen.Blazor
@using Radzen
@using Models
@using ZBeans_BlazorApp.Data.Schedule;
@using Microsoft.EntityFrameworkCore




<h3>Schedule</h3>

@code {
    Schedule schedule = new Schedule();

}