<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        @*
            This allows the register page to be accessible on the menu
            <a href="Identity/Account/Register">Register</a>
        *@
            <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
